.lesson  {
    background-color: lemonchiffon;
}

#github {
    color:darkslateblue;
    background-color: wheat;
}

#Email {
    background-color: white;
}

#Portfolio {
    background-color: white;
}

h2 {
    color: darkslateblue;
    background-color: darkorange;
}

p {
    color:white;
    background-color: darkslateblue;
}